.search-container {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.search-input {
    width: 20rem;
}

.contact-list {
    padding-left: 0;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.title {
    margin-bottom: 0;
}

/* Mobile */
@media (max-width:750px) {

    .title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #823a80;
    }

    .button-container {
        justify-content: flex-end;
    }

    .title {
        margin: 1rem;
    }

    .line {
        display: none;
    }

    .search-input {
        width: 98%;
    }

    .contact-list {
        column-count: 2;
    }

}
