input {
    width: 100%;
    box-sizing: border-box;
    height: 2rem;
    margin-top: 0.4rem;
}

label {
    margin-bottom: 1rem;
    min-width: 30rem;
}

button.save {
    background-color: #78d694;
    opacity: 80%;
    border: None;
    height: 2rem;
    border-radius: 0.3rem;
    min-width: 30rem;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 2rem;
    align-items: center;
}
 